.infoDesc{
    display:flex;
}
.description{
    border: none;
    border-bottom: 1px dashed #ccc !important;
    line-height: 24px;
    outline: none;
    padding-bottom: 2px;
    /* height: max-content; */
}
.cost-conatiner input{
    border: none;
        line-height: 24px;
    outline: none;
    padding-bottom: 2px;
}
.cost-conatiner{
    border-bottom: 1px dashed #ccc !important;
}
.splitAmount{
    display: flex;
    flex-direction: column;
}