/* #modal1 {
    z-index: 3;
    display: block;
    opacity: 1;
    top: 10%;
    transform: scaleX(1) scaleY(1);
    border-color:black ;
    border-width:10px;
  }
  .modal {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 30%;
    width: 50%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
    z-index:1;
  } */

.logo {
  width: 1.5em;
}
.modal-popup-text {
  line-height: 2;
  font-size: 1.2em;
}
